.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.header--logo {
    margin: 1rem 0 1rem -1rem;
    
}
.nav {
    width: 50%;
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.nav-item {
    margin: 1rem 2.5rem;
    position: relative; 
    
    .active-star {
        display: none; 
        position: absolute;
        bottom: 24px; 
        left: 10%;
        transform: translateX(-60%); 
        width: 24px;
        height: auto;
    }

}

.active-link .active-star {
    display: block; 
}

.nav-item img {
    width: 100px; 
    height: auto; 
}