@use "../../styles/partials/global" as *;

.tooltip-container {
    position: relative;
    display: inline-block;
}
  
.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(217, 232, 185, 0.75);
    color: black;
    padding: 12px 8px 10px 8px;
    border-radius: 42px;
    font-size: 16px;
    white-space: nowrap;
    z-index: 1000;
    font-family: $secondary-font;

  

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #D9E8B8 transparent transparent transparent;
    }
}
